h1{
	color: Rebeccapurple;
}

h2{
	color: indianred;
}

p{
	font-style: italic;
	text-align: center;
	color: green;
	border: 4px solid steelblue;
}

body{
	background-color : peachpuff;
}

#p1 {
    color: blue;
}
div.c1{
	font-style: bold;
	text-align: left;
	color : blue;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


